/bin/
/build/
.classpath
.project
org.eclipse.jdt.core.prefs
org.eclipse.wst.common.project.facet.core.xml
master_git.iml
.idea/.name
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
master_git.ipr
master_git.iws
Beuth_CGI.iml
Beuth_CGI.ipr
Beuth_CGI.iws
Beuth_CGI (Johanns-MacBook-Pros in Konflikt stehende Kopie 2015-11-12).iws
out/production/Beuth_CGI/application/application.css
out/production/Beuth_CGI/application/ImageOpener_FX.class
out/production/Beuth_CGI/application/PNGCreater_FX.class
out/production/Beuth_CGI/application/Raytracer.class
out/production/Beuth_CGI/camera/Camera.class
out/production/Beuth_CGI/camera/OrthographicCamera.class
out/production/Beuth_CGI/camera/PerspectiveCamera.class
out/production/Beuth_CGI/color/Color.class
out/production/Beuth_CGI/geometries/AxisAlignedBox.class
out/production/Beuth_CGI/geometries/Geometry.class
out/production/Beuth_CGI/geometries/Hit.class
out/production/Beuth_CGI/geometries/Plane.class
out/production/Beuth_CGI/geometries/Sphere.class
out/production/Beuth_CGI/geometries/Triangle.class
out/production/Beuth_CGI/Matrizen_Vektoren_Bibliothek/Mat3x3.class
out/production/Beuth_CGI/Matrizen_Vektoren_Bibliothek/Normal3.class
out/production/Beuth_CGI/Matrizen_Vektoren_Bibliothek/Point3.class
out/production/Beuth_CGI/Matrizen_Vektoren_Bibliothek/Vector3.class
out/production/Beuth_CGI/ray/Ray.class
out/production/Beuth_CGI/ray/World.class
out/production/Beuth_CGI/test_Matrizen_Vektoren_Bibliothek/Mat3x3Test.class
out/production/Beuth_CGI/test_Matrizen_Vektoren_Bibliothek/Normal3Test.class
out/production/Beuth_CGI/test_Matrizen_Vektoren_Bibliothek/Point3Test.class
out/production/Beuth_CGI/test_Matrizen_Vektoren_Bibliothek/Vector3Test.class
AxisAlignedBox2.class
out/production/Beuth_CGI/light/DirectionalLight.class
out/production/Beuth_CGI/light/Light.class
out/production/Beuth_CGI/light/PointLight.class
out/production/Beuth_CGI/light/SpotLight.class
out/production/Beuth_CGI/material/LambertMaterial.class
out/production/Beuth_CGI/material/Material.class
out/production/Beuth_CGI/material/PhongMaterial.class
out/production/Beuth_CGI/material/SingleColorMaterial.class
out/production/Beuth_CGI/application/Tracer.class
out/production/Beuth_CGI/material/ReflectiveMaterial.class
master_git/cgm.iml
master_git/Computergrafik-1-Raytracer-Java-master.ipr
master_git/Computergrafik-1-Raytracer-Java-master.iws
out/production/Beuth_CGI/geometries/Pyramid.class
